body{
    text-align: center;
    background-color: black;
    color:rgb(255, 115, 0);
}


h1 {
    display: inline-block;
    color: rgb(255, 115, 0);
    text-shadow: 3px 2px rgb(0, 0, 0);
    background-color: rgba(146, 146, 146, 0.884);
    border: 6px solid rgb(153, 153, 153);
    width: 200px;
    font-weight: bold;
}


#myLogo {
   display:inline-block;
    color: rgb(255, 115, 0);
    text-shadow: 3px 2px rgb(0, 0, 0);
    border: 3px solid rgb(153, 153, 153);
    width: 100px;
    font-weight: bold;
}


a:link,
a:visited {
    color: rgb(255, 115, 0);
    background-color: rgba(146, 146, 146, 0.884);
    border: 5px solid rgb(153, 153, 153);
    width: 75px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    text-shadow: 3px 2px rgb(0, 0, 0);
    font-weight: bold;
}

a:hover,
a:active {
    background-color: rgb(70, 70, 70);
    border: 5px solid rgb(153, 153, 153);
    width: 80px;
}

img{
    width: 50px;
}

  #newimage {
      width: 325px;
      height: 200px;
      border: 5px solid rgb(153, 153, 153);
      }

  #text:hover {
    color:rgb(46, 46, 46);
    text-align: center;
    font-weight: bold;
    border: 3px solid rgb(153, 153, 153);
    background-color: rgba(146, 146, 146, 0.884);
  }

  .oneItemToSell{
      display: inline-block;
  }